.category-tag {
    padding: 0em 0.5em;
    background-color: #cccccc;
    margin: 0 0.5em;
}

.category-tag-HTML {
    padding: 0em 0.5em;
    background-color: #ff6044;
}

.category-tag-CSS {
    padding: 0em 0.5em;
    background-color: #4467ff;
}

.category-tag-JS {
    padding: 0em 0.5em;
    background-color: #fff344;
}